<!DOCTYPE html>
<html>
<head>
  <title>Haps</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    Haps.current_user = <%= current_user.to_json.html_safe %>;
  </script>
</head>
<body>
<%= yield %>
</body>
</html>
